<dl class='dl-horizontal structured-data'>
  <dt>Activity:</dt>
  <dd>
    <%= dash_if_blank(activity.activity) %>
    <% if activity.activity_is_new? %><sup>new</sup><% end %>
  </dd>

  <dt>Friends:</dt>
  <dd>
    <% if activity.friends.blank? %>
      <%= dash_if_blank(@friends) %>
    <% else %>
      <% activity.friends.sort_by(&:name).each_with_index do |friend, i| %>
        <span class='picture-plus-name'>
          <%= image_tag profile_pic(friend.fb_id), alt: friend.name %>
          <%= friend.name %>
          <% if friend.new_record? %><sup>new</sup><% end %>
          <% unless i == activity.friends.length - 1 %>,<% end %>
        </span>
      <% end %>
    <% end %>
  </dd>

  <dt>Duration:</dt>
  <dd><%= dash_if_blank(duration_formatter(activity.duration)) %></dd>

  <dt>Distance:</dt>
  <dd><%= dash_if_blank(distance_formatter(activity.distance)) %></dd>

  <dt>Reps:</dt>
  <dd><%= dash_if_blank(activity.reps) %></dd>

  <dt>Note:</dt>
  <dd><%= dash_if_blank(activity.note) %></dd>
</dl>
