<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>

<ol>
  <% @messages.each do |message| %>
    <li>
      <%= message.message %>
      <a class='edit' href='<%= edit_message_path(message.id) %>'>
        <i class="icon-edit"></i>edit
      </a>
      <a class='delete' href='<%= message_path(message.id) %>'
         data-method='delete' data-confirm='Are you sure?' rel='nofollow'>
         <i class="icon-trash"></i>delete
      </a>
    </li>
  <% end %>
</ol>

<%= link_to 'Add new', new_message_path, class: 'btn' %>