<div><!-- Without this div, 'bootstrap_flash' will break the layout -->
  <div class='message-container span6'>
    <div class='docs'>
      <div class='docs-header'><h4>Parse preview</h4></div>
      <%= render 'messages/message', message: @message %>
      <%= render 'structured_data', activity: @activity %>
    </div>

    <%= form_for @activity do |f| %>
      <input type='hidden' name='message_id' value='<%= @message.id %>' />
      <%= render 'shared/form_errors', model: @activity %>
      <%= f.hidden_field nil, value: @message.id %>
      <%= f.submit 'Parse Message', class: 'btn btn-primary btn-block',
                                    disabled: !@activity.errors.empty? %>
      <%= link_to 'Cancel', :messages, class: 'cancel' %>
    <% end %>
  </div>

  <div class='rules-container span6 well hidden-phone'>
    <h4>Applicable rules</h4>
    <%= render partial: 'rules/rule',
               collection: @applicable_matchers,
               as: :matcher %>
    <%= link_to 'Add new', new_rule_path(redirect_path: @redirect_path), class: 'btn' %>
  </div>
</div>
