<dl class='dl-horizontal activity'>
  <% if @we_are_parsing || activity.primary_type.present? %>
    <dt>Primary Type:</dt>
    <dd>
      <%= dash_if_blank(activity.primary_type) %>
      <% if activity.primary_type_is_new? %><sup>new</sup><% end %>
    </dd>
  <% end %>
  
  <% if @we_are_parsing || activity.secondary_type.present? %>
    <dt>Secondary Type:</dt>
    <dd>
      <%= dash_if_blank(activity.secondary_type) %>
      <% if activity.secondary_type_is_new? %><sup>new</sup><% end %>
    </dd>
  <% end %>
  
  <% if @we_are_parsing || activity.friends.present? %>
    <dt>Friends:</dt>
    <dd>
      <% if activity.friends.blank? %>
        <%= dash_if_blank(@friends) %>
      <% else %>
        <% activity.friends.each do |friend| %>
          <span><%= friend.name %></span>
          <% if friend.new_record? %><sup>new</sup><% end %>
          <% unless friend == activity.friends.last %>,<% end %>
        <% end %>
      <% end %>
    </dd>
  <% end %>
  
  <% if @we_are_parsing || activity.duration.present? %>
    <dt>Duration:</dt>
    <dd><%= dash_if_blank(activity.duration) %></dd>
  <% end %>
  
  <% if @we_are_parsing || activity.distance.present? %>
    <dt>Distance:</dt>
    <dd><%= dash_if_blank(activity.distance) %></dd>
  <% end %>
  
  <% if @we_are_parsing || activity.reps.present? %>
    <dt>Reps:</dt>
    <dd><%= dash_if_blank(activity.reps) %></dd>
  <% end %>
  
  <% if @we_are_parsing || activity.note.present? %>
    <dt>Note:</dt>
    <dd><%= dash_if_blank(activity.note) %></dd>
  <% end %>
</dl>
