<dl class='dl-horizontal activity'>
  <% if activity.primary_type.present? %>
    <dt>Primary Type:</dt>
    <dd><%= activity.primary_type %></dd>
  <% end %>
  
  <% if activity.secondary_type.present? %>
    <dt>Secondary Type:</dt>
    <dd><%= activity.secondary_type %></dd>
  <% end %>
  
  <% if activity.friends.present? %>
    <dt>Friends:</dt>
    <dd>
      <% activity.friends.each do |friend| %>
        <span><%= friend.name %></span>
        <% unless friend == activity.friends.last %>,<% end %>
      <% end %>
    </dd>
  <% end %>
  
  <% if activity.duration.present? %>
    <dt>Duration:</dt>
    <dd><%= activity.duration %></dd>
  <% end %>
  
  <% if activity.distance.present? %>
    <dt>Distance:</dt>
    <dd><%= activity.distance %></dd>
  <% end %>
  
  <% if activity.reps.present? %>
    <dt>Reps:</dt>
    <dd><%= activity.reps %></dd>
  <% end %>
  
  <% if activity.note.present? %>
    <dt>Note:</dt>
    <dd><%= activity.note %></dd>
  <% end %>
</dl>
