<dl class='dl-horizontal activity'>
  <% if activity.activity.present? %>
    <dt>Activity:</dt>
    <dd>
      <%= link_to activity.activity, activity_href(activity.activity) %>
    </dd>
  <% end %>
  
  <% if activity.friends.present? %>
    <dt>Friends:</dt>
    <dd>
      <% activity.friends.each_with_index do |friend, i| %>
        <span class='friend'>
          <a href='<%= friend_href(friend.fb_id) %>'>
            <%= image_tag profile_pic(friend.fb_id), alt: friend.name %>
            <span><%= friend.name %></span>
          </a>
          <% unless i == activity.friends.length - 1 %>,<% end %>
        </span>
      <% end %>
    </dd>
  <% end %>
  
  <% if activity.duration.present? %>
    <dt>Duration:</dt>
    <dd><%= time_formatter(activity.duration) %></dd>
  <% end %>
  
  <% if activity.distance.present? %>
    <dt>Distance:</dt>
    <dd><%= distance_formatter(activity.distance) %></dd>
  <% end %>
  
  <% if activity.reps.present? %>
    <dt>Reps:</dt>
    <dd><%= activity.reps %></dd>
  <% end %>
  
  <% if activity.note.present? %>
    <dt>Note:</dt>
    <dd><%= activity.note %></dd>
  <% end %>
</dl>
