<% if @activities.present? %>
  <% content_for :sidebar do %>
    <%= render 'sidebar' %>
  <% end %>

  <% if (params[:activity].present? || params[:friend].present?) %>
    <ul class='breadcrumb'>
      <li><%= link_to 'All', :activities %> <span class='divider'>/</span></li>
      <% if params[:activity].present? %>
        <li class='active'><%= params[:activity] %></li>
      <% elsif params[:friend].present? %>
        <li class='active'><%= params[:friend] %></li>
      <% end %>
    </ul>
  <% end %>

  <% @activities.each do |activity| %>
    <div class='docs'>
      <div class='docs-header'>
        <h4><%= "Logged #{time_ago(activity.message.updated_at)} ago" %></h4>
      </div>
      <%= render 'messages/message', message: activity.message %>
      <%= render 'structured_data', activity: activity %>
    </div>
  <% end %>
<% else %>
  <h4>No activity yet.</h4>
<% end %>
