<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<% if (params[:primary_type].present? && params[:secondary_type].present?) ||
      params[:primary_type].present? ||
      params[:friend].present? %>
  <ul class='breadcrumb'>
    <li>
      <%= link_to 'All', :activities %>
      <span class='divider'>/</span>
    </li>
    <% if (params[:primary_type].present? && params[:secondary_type].present?) %>
      <li>
        <%= link_to params[:primary_type], primary_type_href(params[:primary_type]) %>
        <span class='divider'>/</span>
      </li>
      <li class='active'><%= params[:secondary_type] %></li>
    <% elsif params[:primary_type].present? %>
      <li class='active'><%= params[:primary_type] %></li>
    <% elsif params[:friend].present? %>
      <li class='active'><%= params[:friend] %></li>
    <% end %>
  </ul>
<% end %>

<% @activities.each do |activity| %>
  <div class='docs'>
    <div class='docs-header'>
      <h4><%= "Logged #{time_ago(activity.message.updated_at)} ago" %></h4>
    </div>
    <%= render 'messages/message', message: activity.message %>
    <%= render 'structured_data', activity: activity %>
  </div>
<% end %>