<div class='docs'>
  <div class='docs-header'>
    <h4><%= rule_heading(matcher) %></h4>
    <div class='actions'>
      <a class='edit'
         href='<%= edit_rule_path(matcher.id, redirect_path: @redirect_path) %>'>
        <i class='icon-edit'></i>edit</a>
      <a class='delete'
         href='<%= rule_path(matcher.id, redirect_path: @redirect_path) %>'
         data-method='delete' data-confirm='Are you sure?' rel='nofollow'>
         <i class='icon-trash'></i>delete</a>
    </div>
  </div>
  
  <dl class='rule'>
    <dt>
      <span class='label label-info hidden-phone'><%= matcher.command %></span>
      <span><i class='visible-phone matcher-icon icon-filter'></i></span>
      <code class='alert-info'><%= matcher_arg(matcher.arg) %></code> 
    </dt>
    <% matcher.setters.each do |setter| %>
      <dd>
        <span class='label label-success hidden-phone'><%= setter.command %></span>
        <span>
          <i class='visible-phone setter-icon icon-<%= SETTER_ICONS[setter.command] %>'></i>
        </span>
        <code class='alert-success'><%= setter_arg(setter.arg, matcher.arg) %></code> 
      </dd>
    <% end %>
  </dl>
</div>
