<div class='docs'>
  <div class='docs-header'>
    <h4>
      <%= "Applied #{time_ago(matcher.updated_at)} ago | #{matcher.cnt}x" %>
    </h4>
    <div class='actions'>
      <a class='edit'
         href='<%= edit_rule_path(matcher.id, redirect_path: @redirect_path) %>'>
        <i class='icon-edit'></i>edit</a>
      <a class='delete'
         href='<%= rule_path(matcher.id, redirect_path: @redirect_path) %>'
         data-method='delete' data-confirm='Are you sure?' rel='nofollow'>
         <i class='icon-trash'></i>delete</a>
    </div>
  </div>
  
  <dl class='rule'>
    <dt>
      <span class='label label-info'><%= matcher.command %></span>
      <code><%= matcher.arg %></code> 
    </dt>
    <% matcher.setters.each do |setter| %>
      <dd>
        <span class='label label-success'><%= setter.command %></span>
        <code><%= setter.arg %></code> 
      </dd>
    <% end %>
  </dl>
</div>
