<!-- TODO month to month change in position -->

<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Top rules</li>
    <li><%= link_to "Link1", "/path1"  %></li>
    <li><%= link_to "Link2", "/path2"  %></li>
    <li><%= link_to "Link3", "/path3"  %></li>
    <li class="nav-header">Top rules</li>
    <li><%= link_to "Link1", "/path1"  %></li>
    <li><%= link_to "Link2", "/path2"  %></li>
    <li><%= link_to "Link3", "/path3"  %></li>
    
    <!-- TODO capture time and reps in top activities -->
    <!-- <li class="nav-header">Mean / median time</li>
    <li>
      <%= time_ago_in_words(50.seconds.ago) %>
      /
      <%= time_ago_in_words(500.seconds.ago) %>
    </li>
    <li class="nav-header">Mean / median reps</li>
    <li>50 / 500</li> -->
    
  </ul>
</div><!--/.well -->
