<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<div class='rule'>
  <div class='rule-before'>
    <h4><%= 'Last used 5 days ago' %></h4>
    <div class='actionable-list'>
      <a class='edit' href='<% %>'>
        <i class='icon-edit'></i>edit
      </a>
      <a class='delete' href='<% %>'
         data-method='delete' data-confirm='Are you sure?' rel='nofollow'>
         <i class='icon-trash'></i>delete
      </a>
    </div>
  </div>
  
  <dl>
    <dt>
      <span class='label label-info'><%= 'match' %></span>
      <code><%= 'biked (?<objective>[\w\s]+?)(with|in|\.)' %></code> 
    </dt>
    <dd>
      <span class='label label-success'><%= 'set_name' %></span>
      <code><%= 'Biking' %></code> 
    </dd>
    <dd>
      <span class='label label-success'><%= 'set_objective '%></span>
      <code><%= '<objective>' %></code> 
    </dd>
  </dl>
</div>

<% link_to 'Add new', :new_message, class: 'btn btn-small' %>
