<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<% if params[:command].present? %>
  <ul class='breadcrumb'>
    <li>
      <%= link_to 'All', :rules %>
      <span class='divider'>/</span>
    </li>
    <li class='active'><%= params[:command] %></li>
  </ul>
<% end %>

<%= render partial: 'rule', collection: @rules, as: :matcher %>

<%= link_to 'Add new', :new_rule, class: 'btn page-bottom' %>
